div.home-container > * {
    font-family: 'Rubik', sans-serif;
}

div.home.home-container {
    display: flow-root;
    width: 90%;
    margin: 30px auto;
}

.home-container p.page-title {
    color: var(--main-color);
    text-align: center;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px auto;
}

.home-container h1.main-title {
    color: black;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.home-container h2.subtitle {
    font-size: 1.125em;
    color: rgb(107, 114, 128);
    text-align: center;
    margin: 20px auto;
}

.feature-cards {
    display: flex;
    margin-top: 50px;
}