
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('reset.css');

:root {
  --main-color: rgb(99, 102, 241);
  --border-color: rgba(0, 0, 0, 0.1);
}

body > * {
  font-family: 'Roboto', sans-serif;
}